@charset "UTF-8";

body{
    background: #fdcb6d url('imagens/fundo.png');
    font: 16px arial, helvetica,sans-serif;
    fon
    
}

#principal{
    border: 0px solid red;
    width: 900px;

}

#menu{
    background: #cca04f;
    padding: 18px;

}

#conteudo{
    background: #ffffbc;
    width: 880px;
    padding: 10px;
}


a{
    color: #2f3847;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
}

h1{
    color: #828271;
    font-size: 1.2em;
}

.centralizar{
    text-align: center;
}

.img-campanha{
    border: 10px solid #c3c3ae ;
}